<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="page-header line1">
        <h4> Send Photo </h4>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <%= form_tag({:controller => "facebooks", :action => "send_photo_in_album"},  {:method => "POST", :class => "span12 widget shadowed dark form-horizontal bordered"}) do |f| %>
      <header><h4 class="title">Send Photo</h4></header>
      <section class="body">
        <div class="body-inner">

          <div class="control-group">
            <label class="control-label">Album List</label>
            <div class="controls">
              <%= select_tag 'user_id', options_for_select(@albums.collect{ |u| [u["name"], u["id"]] }), :class => "span8" %>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Image URL</label>
            <div class="controls">
              <%= text_field_tag "source", nil, :required => true, :class => "span8", :placeholder => "Enter Name Here.." %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Message</label>
            <div class="controls">
              <%= text_area_tag "message", nil, :required => true, :class => "span8", :placeholder => "Enter Your Message Here.." %>
            </div>
          </div>


          <div class="form-actions">
            <%= submit_tag "Send", :name => nil, :class => "btn btn-primary" %>
          </div>
        </div>
      </section>
    <% end %>
  </div>
</div>