<aside id="sidebar">
  <div class="sidebar-content">
    <div class="tab-content">
      <div class="tab-pane active" id="tab-menu">
        <nav id="nav" class="accordion">
          <ul id="navigation">
            <li class="divider">Main Menu</li>

            <li class="accordion-group ">
              <a href="<%= facebook_profile_users_path %>">
                <span class="icon icone-dashboard"></span>
                <span class="text"> My Profile </span>
              </a>
            </li>
            <li class="accordion-group ">
              <a href="<%= facebook_friends_users_path %>">
                <span class="icon icone-dashboard"></span>
                <span class="text">My Friends</span>
              </a>
            </li>
            <li class="accordion-group ">
              <a href="<%= facebook_groups_users_path %>">
                <span class="icon icone-dashboard"></span>
                <span class="text">My Groups</span>
              </a>
            </li>
            <li class="accordion-group ">
              <a href="<%= my_albums_users_path %>">
                <span class="icon icone-dashboard"></span>
                <span class="text">My Albums</span>
              </a>
            </li>

            <li class="accordion-group ">
              <a href="<%= wall_post_facebooks_path %>">
                <span class="icon icone-dashboard"></span>
                <span class="text">Post on Wall</span>
              </a>
            </li>

            <li class="accordion-group ">
              <a href="<%= link_post_facebooks_path %>">
                <span class="icon icone-dashboard"></span>
                <span class="text">Post a Link</span>
              </a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
</aside>